.button {
  display: inline-block;
  text-align: center;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: transform 200ms ease, box-shadow 200ms ease, brightness 200ms ease;
}
.button:hover {
  transform: translateY(-1.5px);
  box-shadow: 0 6px 15px rgba(82, 183, 136, 0.75);
  filter: brightness(110%);
}
.button--green {
  position: fixed;
  bottom: 56px;
  right: 56px;
  z-index: 1000;
  line-height: 0;
  border-radius: 40px;
  padding: 24px;
  background-color: #52b788;
}
.button--blue {
  background-color: #0077b6;
}
.button--red {
  background-color: #c1121f;
}
.button--small {
  padding: 8px 16px;
  font-size: 14px;
  line-height: 160%;
}
