main {
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  padding: 0 220px;
  gap: 24px;
}
.news-title {
  line-height: 125%;
  letter-spacing: 0.005em;
}
.box {
  display: flex;
  align-items: center;
  gap: 16px;
}
.news-author,
.news-date,
.news-category {
  padding: 11.5px 16px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  font-weight: 600;
  line-height: 150%;
  cursor: pointer;
  color: #3d3d3d;
}
.news-author {
  padding: 7.5px 16px;
}
.author__avatar img {
  display: block;
  border-radius: 16px;
  border: 1px solid #f0f0f0;
}
.news-author {
  display: flex;
  align-items: center;
  gap: 12px;
}
.news-image {
  border-radius: 24px;
  object-fit: cover;
}
.news-content {
  font-size: 18px;
  line-height: 150%;
}
.news-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  bottom: 56px;
  right: 56px;
  z-index: 1000;
}
.news-actions button,
.news-actions a {
  line-height: 0;
  border-radius: 40px;
  padding: 24px;
  border: none;
  cursor: pointer;
}
