@import url(button.css);
@import url(header.css);
@import url(user.css);
@import url(news.css);
@import url(categories.css);
@import url(login.css);
@import url(register.css);

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: auto;
  font-family: Inter, sans-serif;
}
