.window {
  min-height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  margin-block: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 500px;
  padding: 48px 32px;
  gap: 32px;
  border-radius: 32px;
  border: 1px solid #e6e6e6;
}
.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.login-box {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.email,
.password {
  font-size: 14px;
  font-weight: 500;
  line-height: 160%;
  color: #707070;
}
.email-input,
.password-input {
  padding: 16px;
  border: 1px solid #e6e6e6;
  border-radius: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}
.email-input::placeholder,
.password-input::placeholder {
  color: #bdbdbd;
}
.email-input:focus,
.password-input:focus {
  outline: 2px solid #0077b6;
}
.login-button {
  width: 100%;
}
.register {
  font-weight: 500;
  line-height: 150%;
  color: #707070;
}
.register-link {
  text-decoration: none;
  color: #0077b6;
}
