.register-box {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.name {
  font-size: 14px;
  font-weight: 500;
  line-height: 160%;
  color: #707070;
}
.name-input {
  padding: 16px;
  border: 1px solid #e6e6e6;
  border-radius: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}
.name-input::placeholder {
  color: #bdbdbd;
}
.name-input:focus {
  outline: 2px solid #c1121f;
}
.register-button {
  width: 100%;
}
.login {
  font-weight: 500;
  line-height: 150%;
  color: #707070;
}
.login-link {
  text-decoration: none;
  color: #0077b6;
}
